/*MENU
0 - Geral
1 - Menu
2 - Section Intro
3 - Section História
4 - Section Info
5 - Section Loja
6 - Section Assine
7 - Footer
*/

/*0 - Geral*/

:root {
    --primary-black: #333;
    --secondary-black: #252525;
    --primary-white: #fafafa;
    --primary-grey: #e7e4d8;
    --grey-footer: #d6d3c8;
    /*after class*/
    --circle-brown: #4a2805;
    --circle-orange: #ca6829;
    --circle-moustard: #d5a544;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    overflow: hidden;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}


/*1 - Menu*/
    .menu {
        width: 100%;
        background-color: var(--secondary-black);
    }

    .menu .container {
        width: 100%;
    }

    .menu-nav {
        padding: 15px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (max-width: 760px) {
        .menu-nav {
            height: 100px;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    @media only screen and (max-width: 320px) {
        .menu-nav {
            padding: 20px 25px;
            
        }
        .menu-nav ul a{
            align-self: center;
        }
        .menu-nav ul {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 5px 15px;
            
        }
        
    }

    @media only screen and (max-width: 275px) {
        .menu-nav ul {
            flex-direction: column;
        }
    }

    .menu ul {
        display: flex;
    }

    .menu ul li a {
        font-family: Georgia, serif;
        color: var(--primary-white);
        text-decoration: none;
    }

    .menu-nav li a {
        padding: 0 15px;
    }

    .menu-nav ul li:after {
        content:"";
        display: block;
        background-color: var(--primary-white);
        height: 5px;
        width: 0;
        transition: .6s;
    }

    .menu-nav ul li:hover:after {
        display: block;
        width: 100%;
        transition: .6s;
    }



    /*2 - Section Intro*/

.intro {
    width: 100%;
    text-align: center;
    color: var(--primary-white);
    background: url(../assets/img/bg-intro.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0px;
    
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.intro h1:after {
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--primary-white);
    margin: 10px auto;
}

.intro h1:hover:after {
    width: 50%;
    transition: .9s;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif
}

@media only screen and (max-width: 760px) {
    .intro {
        padding: 120px 0;
    }
    .intro h1{
        font-size: 2.0em;
    }
    .intro p {
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 420px) {
    .intro {
        padding: 75px 0;
    }
    .intro h1 {
        font-size: 1.5em;
    }
}



/*3 - Section História*/

.sobre {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 960px;
}

.sobre h2 {
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight:bold;
    text-align: center;
}

.sobre-item {
    /* border: 1px solid  blue; */
    padding: 20px 20px;
    display: flex;
}

.sobre-item img {
    width: 60%;
    /* padding: 45px 0; */
}

.sobre h2, .sobre p {
    padding: 60px 0;
}

.item-um {
    justify-content: flex-start;
}

.item-dois {
    justify-content: flex-end;
}

.sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: var(--secondary-black);
    color: var(--primary-white);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-family: Georgia, serif;
    position: absolute;
    padding: 10px 20px;
}

.sobre p {
    max-width: 720px;
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
}

@media only screen and (max-width: 760px) {
    .sobre h2, .sobre .sobre-item,  .sobre p {
        padding: 10px 0;
    }
    .sobre {
        padding: 45px;
    }
    .sobre-item {
        justify-content: space-around;
        padding: 20px;
        font-size: 0.6em;
    }
    .sobre-item img{
        width: 100%;
    }
    .item-um h3{
        align-self: flex-end;
        left: 0;
    }
    .item-dois h3{
        align-self: flex-end;
        right: 0;
    }
}

@media only screen and (max-width: 520px) {
    .sobre {
        padding: 10px;
    }
    .sobre-item{
        width: 100%;
    }
    .sobre-item img{
        width: 100%;
    }
    .sobre h2 {
        font-size: 1em;
    }
    .sobre p{
        font-size: 0.7em;
        padding: 0 15px;
    }
}




/*4 - Section Info*/

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-grey);
    padding: 45px 30px;
    text-align: center;
    font-family: Georgia, serif;
}

.produtos-tudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produtos-item h2 {
    text-align: center;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

.produtos p {
    font-size: 0.85em;
    text-align: center;
}

.produtos-item {
    padding: 35px 0;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.produtos a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px;
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    font-size: 1.125em;
    font-weight: bold;
}

.produtos a:hover {
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: 1px solid var(--primary-grey);
}

.circulo {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50%;
}

.um {
    background-color: var(--circle-brown);
}

.dois {
    background-color: var(--circle-orange);
}

.tres {
    background-color: var(--circle-moustard);
}




/*5 - Section Loja*/

.locais {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    padding: 50px;
}

.locais img {
    max-width: 100%;
} 

.locais-item {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 30px;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.locais-div {
    padding: 0 35px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* border: 1px solid red; */
    flex-direction: column;
}

.locais-item h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.locais-item p {
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 30px;
}

.locais-item a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    padding: 10px 20px;
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
    font-size: 1.125em;
    font-weight: bold;
    display: block;
}

.locais-item a:hover {
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: 1px solid var(--primary-grey);
}

@media only screen and (max-width: 760px) {
    .locais-item {
        flex-wrap: wrap;
    }

    .locais-div {
        padding: 35px;
    }
}

@media only screen and (max-width: 520px) {
    .locais {
        padding: 15px;
    }
    .locais-item h2 {
        font-size: 1.5em;
    }
    .locais-item p {
        font-size: 0.75em;
    }
}



/*6 - Section Assine*/

.assine {
    background-color: var(--primary-grey);
    padding: 50px 30px;
}

.assine .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.assine-info, form {
    padding: 15px;
}

.assine-info h2 {
    font-size: 2.25em;
    font-weight: bold;
}

.assine-info p {
    font-style: italic;
    color: var(--primary-black);
    text-align: center;
}

form {
    display: flex;
}

form button {
    font-size: 1.25em;
    text-transform: uppercase;
    color: var(--primary-grey);
    background-color: var(--primary-black);
    border: none;
}

form button:hover {
    background-color: var(--grey-footer);
    color: var(--primary-black);
    margin: 1px solid var(--primary-black);
}

form input {
    font-size:1.25em; 
    height: 30px;
    font-style: italic;
    font-weight: initial;
    background-color: var(--primary-grey);
    border: 1px solid var(--primary-black);
    font-family: Georgia, serif;
    padding: 5px 25px;
}

@media only screen and (max-width: 760px) {
    .assine .container .assine-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0;
        text-align: center;
    }
    .assine .container .assine-info h2 {
        font-size: 1.8em;
        padding: 5px;
    }
}

@media only screen and (max-width: 420px) {
    .assine .container .assine-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0;
    }
    form {
        font-size: 0.8em;
        padding: 0;
        flex-direction: column;
    }
    form button {
        height: 35px;
    }
    .assine {
        padding: 15px;
    }
}



/*7 - Footer*/

.footer { 
    background-color: var(--grey-footer);
    padding: 50px;
}

.footer .container{
    flex-wrap: wrap;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 760px) {
    .footer .container {
        justify-content: center;
    }
    .footer .container p{
        padding: 15px 0;
    }
}

/*Cores encontradas com o color picker
    (https://imagecolorpicker.com)
    bege da parte dos cafés: #e7e5d8
    bege do email: #e9e6d7
    footer: #d6d4c8
    primeiro circulo (marrom): #4a2805
    segundo circulo (laranja): #ca6829
    terceiro circulo (mostarda): #d6a544
 */